body{
  margin: 0;
  font-family: M PLUS Rounded 1c Light, Courier, monospace;
}

/*ヘッダーsp */
.pc-header{
  display: none;

}
.sp-header{
  background:#3B4B5A;
  display: flex;
  padding: 16px;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
  opacity: .8;
}
.sp-nav{
  margin-left: auto;
}

.sp-nav #open{
  font-size: 32px;
  color: white;
  cursor: pointer;
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(255,255,255,0.95);
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition:opacity .8s;
  z-index: 1;
}
.overlay.show{
  opacity: 1;
  pointer-events: auto;
}
.overlay #close{
  position: absolute;
  top: 30px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}
.overlay ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.overlay li{
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s transform .3s;
  
}
.overlay li a{
  color: black;
  text-decoration: none;
}
.overlay.show li{
  opacity: 1;
  transform: none;
}
.overlay.show li:nth-child(1){
  transition-delay: .2s;
}
.overlay.show li:nth-child(2){
  transition-delay: .4s;
}
.overlay.show li:nth-child(3){
  transition-delay: .6s;
}

/* ヒーロー sp*/
.container{
  height: 600px;
  min-width: 100%;
  background-image: url(https://256times-upload-files.s3.ap-northeast-1.amazonaws.com/production/101/4311/af880fc03d0175ac6ec908ba4f05cab9769dbdcc.jpg);
  background-position: center;
  background-size: cover;
}

.hero-title{
  position: absolute;
  top: 200px;
  left: 70px;
  width: 250px;
  margin: 0;
  padding: 8px;
  color: white;
  text-align: left;
  background-color: rgba(59,75,90,0.6);
}
.hero-title h1,p{
  margin-left: 30px;
}
.hero-title h1 span{
  font-family: serif;
} 
/* ポップメッセージ sp*/
.pop-message{
  width: 200px;
  background: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  position: fixed;
  left: 24px;
  bottom: 24px;
  animation-delay: 2s;
  animation:popup 3s forwards;
}
@keyframes popup {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  20%{
    transform: none;
    opacity: 1;
  }
  80% {
    transform: none;
    opacity: 1;
  }
 100% {
   transform: translateY(20px);
   opacity: 0;
   pointer-events: none;
    
  }
}
/* 見出しの吹き出し */
.sub-title{
  position: relative;
  display: inline-block;
  margin: 3em 0 3em;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
  border-radius: 5px;
  animation: move-y 2s infinite alternate ease-in-out;
  display: inline-block;
}
@keyframes move-y {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}
.sub-title:before{
  content: "";
  position: absolute;
  bottom: -22px;
  left: 50%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-top: 12px solid #FFF;
  z-index: 2;
}
.sub-title:after{
  content: "";
  position: absolute;
  bottom: -29px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-top: 14px solid #555;
  z-index: 1;
}
.sub-title h2{
  margin: 0;
  padding: 0;
} 
/* コンセプト sp */ 
 
.concept-center{
  text-align: center;
  background: #c9c3e6;
}
.concept-page{
  text-align: center;
  padding: 16px;
}
.concept-page h3{
  font-size: 18px;
  text-align: left;
  font-family: A1 Gothic R;
  border-bottom: 1px solid #555;
  color: #555;
}
.concept-page p{
  font-size: 14px;
  text-align: left;
  align-items: center;
  margin: 0;
}
.concept-page img{
  width: 100%;
  height: 50%;
  cursor: pointer;
}
.concept-page img:hover{
  opacity: 0.7;
  filter: alpha(opacity=80);
  transition: 1s;
  cursor: pointer;
}

/* サービス sp */
.services-center{
  text-align: center;
  background: #fadfd8;
}
h2{
  text-align: center;
  font-size: 34px;
  padding: 16px;
}
.services-container p{
  margin: 0;
}
.services-page{
  text-align: center;
  padding:16px;
  height: fit-content;
}
.services-page img{
  width: 100%;
  height: 50%;
  cursor: pointer;
}
.services-page h3{
  font-size: 18px;
  text-align: left;
  font-family: A1 Gothic R;
  border-bottom: 1px solid #555;
  color: #555;
}
.services-page p{
  font-size: 14px;
  text-align: left;
  padding-top: 16px;
  align-items: center;
  
}
.services-page img:hover{
  opacity: 0.7;
  filter: alpha(opacity=80);
  transition: 1s;
  cursor: pointer;
}
/*ギャラリー  sp */
.gallery-center{
  text-align: center;
  background: #e3f1f8;
}
.carousel{
  width: 80%;
  margin: 0 auto;
}
.gallery-container{
  min-width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.gallery-container ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  transition: transform .3s;
}
.gallery-container li{
  height: 100%;
  min-width: 100%;
}
.gallery-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.nav-button{
  margin-top: 16px;
  text-align: center;
}
.nav-button button + button{
  margin-left: 8px;
}
.nav-button button{
  border: none;
  width: 16px;
  height: 16px;
  background: #ddd;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 24px;
}

/* 流れる文字 sp */
.line-container{
  padding:16px;
  background: #eeeeee;
  overflow: hidden;
  box-sizing: border-box;
}
.line-container p{
  background: 50%/80%;
  animation: move-around 20s linear infinite;
}
@keyframes move-around{
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* フッター sp*/
.footer-container{
  display: block;
}
footer{
  background: #F4F3DF;
  text-align: center;
  padding: 24px;
}
footer table{
  margin: 0 auto;
}
footer table td{
  width: 178px;
  text-align: left;
  padding: 16px;
}
footer ul{
  display: flex;
  justify-content: center;
  padding: 0;
}
footer li{
  list-style-type: none;
  margin-left:24px ;
}
.bi-instagram{
  color: #E7973A;
}
.bi-twitter{
  color: #1da1f2;
}
.bi-facebook{
  color: #1877f2;
}
/* トップへ sp */
.go-to-top{
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: rgba(0,0,0,.7);
  color: #999;
  font-size: 20px;
  text-align: center;
  position: fixed;
  bottom: 10px;
  z-index: 10;
  line-height: 1.4;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -webkit-transition: all .2s;
  right: 10px;
}
.go-to-top.active {
  -webkit-transform: translateY(0);
  visibility: visible;
  opacity: 1;
  z-index: 1001;
}
.go-to-top a{
  text-decoration: none;
  color: white;
}
.ion-md-arrow-up{
  font-size: 18px;
  line-height: 1.9;
}
.ion-md-arrow-up::before{
  content: "↑";
}
@media screen and (min-width: 600px){
  
/* ヘッダーpc */
 .sp-header{
  display: none;

} 
.pc-header{
  background:#3B4B5A;
  display: flex;
  padding: 16px;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
  opacity: .8;
}
.pc-header img{
  width:300px
}
.pc-nav{
  margin-left: auto;
}
.pc-nav ul{
  display: flex;
}
.pc-nav li{
  list-style-type: none;
  margin-left: 36px;
  margin-right: 16px;
}
.pc-nav a{
  color: white;
  text-decoration: none;
}
.pc-nav a:hover{
  opacity: 0.6;
  
}
/* コンセプト pc */
.concept-container{
  display: grid;
  grid-template-columns: repeat(3,minmax(260px,1fr));
  
}
/* サービス pc */
.services-container{
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(2,minmax(260px,1fr));
}
/* ギャラリー pc */
.gallery-container img{
    width: 600px;
    height: 600px;
    object-fit: cover;
    cursor: pointer;
    object-position: 50% 100%;
}
/* フッターpc */
.footer-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer table{
  font-size: 16px;
}
}
